<!--Se introduce un footer con algunos enlaces a contenidos externos-->
<div class="bigcontainer">
    <section class="footer">        
        <div class="linelogo">
            <p class="linelogo__title">Síguenos</p>
            <a href="https://facebook.es"><i class="fa-brands fa-facebook whiteSocial"></i></a>
            <a href="https://twitter.es"><i class="fa-brands fa-twitter whiteSocial"></i></a>
            <a href="https://linkedin.es"><i class="fa-brands fa-linkedin whiteSocial"></i></a>
            <a href="https://instagram.com"><i class="fa-brands fa-instagram whiteSocial"></i></a>
        </div>
    </section>  
</div>
