.bigcontainer{
    max-width: 1080px;
    margin:auto;   
    min-height: 650px;   
}

h1{
    margin-bottom: 40px;
}

.cinemaSection{
    margin-left:1%;
    margin-right:1%; 
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 24px;  
}

.cinema{
    width: 500px;
    margin-right: 24px;
    border:1px solid lightgray;
    box-shadow: 3px 3px 5px 3px lightgray;
    margin-bottom: 24px;
    font-family: Arial, Helvetica, sans-serif;   
}

.form {   
    padding: 24px;
    display: flex;
    align-items: flex-start;    
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    
    &__input {
        padding: 4px;
        height: 24px;
        border: 1px solid grey;
        border-radius: 5px;
        width: 100%;
        margin-bottom:10px;
        margin-top: 30px;

        &--select{
            height: 100px;            
        }

        &--error{
            color:red;            
            font-size: 0.7em;
        }

        &--warning{
            color:#3782a3;            
            font-size: 0.7em;
            font-style: italic;
        }
    }

    &__buttons{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 8px;
        background-color: #3782a3;
        width:100%;
        margin-top:20px;
    }

    &__button{   
        border:none;
        width:100%;
        background-color: #3782a3;
        color:white;
        cursor: pointer;

        &:disabled {           
            cursor: no-drop;
            opacity: 0.7;
        }
    }
}

